<a href="https://colab.research.google.com/github/yuuuupon/PythonKadai/blob/master/Pytest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#無視してください！
import cv2
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#これも無視で！
img = cv2.imread("./images/apples.jpg")

In [4]:
#ここからです
import requests,bs4
url = requests.get('https://ja.wikipedia.org/wiki/%E7%99%BD%E7%80%AC%E7%9F%97')
soup = bs4.BeautifulSoup(url.text, "html.parser")
index = soup.select('#toc')
for i in index:
    print(i.getText())
#url.text

目次

1 生涯

1.1 出生と陸軍入隊
1.2 千島探検
1.3 南極探検隊の結成と出発
1.4 帰還
1.5 晩年


2 その他
3 著書
4 脚注

4.1 注釈
4.2 出典


5 参考文献
6 関連項目
7 外部リンク

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
from sklearn.datasets import load_boston

In [ ]:
dataset = load_boston()

In [ ]:
dataset

In [12]:
x,t = dataset.data,dataset.target
columns = dataset.feature_names

In [13]:
type(x),x.shape

(numpy.ndarray, (506, 13))

In [14]:
type(t),t.shape

(numpy.ndarray, (506,))

In [15]:
columns

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [17]:
df = pd.DataFrame(x,columns=columns)
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [18]:
#Targetの追加
df['Target'] = t
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  Target
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98    24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14    21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03    34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94    33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33    36.2

[5 rows x 14 columns]

In [19]:
df['Target']

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Target, Length: 506, dtype: float64

In [23]:
t = df['Target'].values

In [24]:
#Target列を取り除く(1)
x = df.drop(labels=['Target'],axis=1).values

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
# 30%
x_train,x_test,t_train,t_test = train_test_split(x,t,test_size=0.3,random_state=0)

In [30]:
# 7:3
len(x_train)
len(x_test)

354